.AddItemButtonsContainer {
    margin-top: 1em;
}

.CancelAddItem {
    background-color:lightcoral;
    border-radius: 1.5em;
    font-size: 18pt;
    font-weight: 600;
    height: 3em;
    margin-left: .25em;
    margin-right: 23em;
    margin-top: .25em;
    outline: none;
    width: 8em;
}

.DescriptionContainer  {
    margin-left: 11em;
    margin-top: -1.8em;
}

.DescriptionInput {
    font-size: 16pt;
    font-weight: 500;
    height: 10em;
    margin-left: 1.75em;
    margin-top: .1em;
    width: 21.5em;
}

.DescriptionTitle {
    font-size: 16pt;
    font-weight: 500;
    margin-top: 1em;
}

.HomeInventoryTitle-AddItem {
    border-style: solid;
    height: 1.5em;
    margin-left: -1.45em;
    margin-top: .2em;
    padding: .25em;
    text-align: center;
    width: 15em;
}

.InputsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.ItemNameInput {
    font-size: 14pt;
    font-weight: 500;
    height: auto;
    margin-left: 5em;
    margin-top: 1.2em;
    width: 24.5em;
}

.ItemNameTitle {
    font-size: 16pt;
    font-weight: 500;
}

.ItemNotesContainer  {
    margin-left: 11em;
    margin-top: 1em;
}

.ItemNotesInput {
    font-size: 16pt;
    font-weight: 500;
    height: 10em;
    margin-left: 1.7em;
    margin-top: -2em;
    width: 21.5em;
}

.ItemNotesTitle {
    font-size: 16pt;
    font-weight: 500;
    margin-top: 1em;
}

.ItemSerialInput {
    font-size: 14pt;
    font-weight: 500;
    height: auto;
    margin-left: .6em;
    margin-top: 1em;
    width: 24.5em;
}

.ItemSerialTitle {
    font-size: 16pt;
    font-weight: 500;
}

.PageHeaderContainer-AddItem {
    display: flex;
    justify-content: center;
}

.RoomInput {
    font-size: 14pt;
    font-weight: 500;
    margin-left: 8.3em;
    width: 25em;
}

.RoomInputTitle {
    font-size: 16pt;
    font-weight: 500;
}

.SaveAddItem {
    background-color:springgreen;
    border-radius: 1.5em;
    font-size: 18pt;
    font-weight: 600;
    height: 3em;
    margin-left: 5em;
    margin-right: 1em;
    margin-top: .25em;
    outline: none;
    width: 8em;
}