/* .AddItemButtonsContainer {
    margin-top: 1em;
}

.CancelAddItem {
    background-color:lightcoral;
    border-radius: 1.5em;
    font-size: 18pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    height: 3em;
    margin-left: .25em;
    margin-top: .25em;
    outline: none;
    width: 12em;
}

.DescriptionContainer  {
    margin-left: 11em;
    margin-top: -1.8em;
}

.DescriptionInput {
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    height: 10em;
    margin-left: 4em;
    margin-top: .1em;
    width: 24.5em;
}

.DescriptionTitle {
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-top: 1em;
}

.HomeInventoryTitle-AddItem {
    border-style: solid;
    font-family: 'Open Sans', sans-serif;
    height: 1.5em;
    margin-bottom: .35em;
    margin-left: -3em;
    margin-top: .2em;
    text-align: center;
    width: 15em;
}

.InputsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.ItemNameInput {
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    height: auto;
    margin-left: 6.2em;
    margin-top: 1.2em;
    width: 24.5em;
}

.ItemNameTitle {
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.ItemNotesContainer  {
    margin-left: 11em;
    margin-top: 1em;
}

.ItemNotesInput {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    font-weight: 600;
    height: 10em;
    margin-left: 4em;
    margin-top: -2em;
    width: 24.5em;
}

.ItemNotesTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 800;
    margin-top: 1em;
}

.ItemSerialInput {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    font-weight: 600;
    height: auto;
    margin-left: 1.2em;
    margin-top: 1em;
    width: 24.5em;
}

.ItemSerialTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 800;
}

.PageHeaderContainer-AddItem {
    display: flex;
    justify-content: center;
}

.RoomInput {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    font-weight: 600;
    margin-left: 10em;
    width: 25em;
}

.RoomInputTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 800;
}

.SaveAddItem {
    background-color:springgreen;
    border-radius: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
    font-weight: 800;
    height: 3em;
    margin-left: 2.5em;
    margin-right: 1em;
    margin-top: .25em;
    outline: none;
    width: 12em;
} */


.AddItemHeader {
    margin-left: .5em;
    margin-bottom: .25em;
}

.LocationTitle {
    margin-left: 1.35em;
}

.hr-AddItem {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    width: 98.25%;
    margin-top: .25em;
    margin-bottom: 1em;
}

.ItemNameTitle {
    margin-left: 1.35em;
}

.DescriptionTitle {
    margin-left: 1.35em;
}

.ItemSerialTitle {
    margin-left: 1.35em;
}

.ItemNotesTitle {
    margin-left: 1.35em;
}