.AddItemButton {
  background-color:lightskyblue;
  font-size: 18pt;
  font-weight: 600;
  height: 3em;
  margin-left: .25em;
  margin-right: 23em;
  margin-top: .25em;
  width: 8em;
}

.BodyContainer {
  height: auto;
  margin-left: .25em;
  width: 99.25%;
}

.FiltersContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.HomeInventoryTitle {
  border-style: solid;
  height: 1.5em;
  margin-left: -2em;
  margin-top: .2em;
  padding: .25em;
  text-align: center;
  width: 15em;
}

.InventoryContainer {
  border: .14em;
  border-style: solid;
  height: 46em;
  margin-left: .25em;
  width: 99.25%;
}

.InventoryDescriptionHeader {
  font-size: 14pt;
  border-bottom: none;
  border-left: none;
  border-right: .15em;
  border-right-style: dotted;
  border-top: none;
  text-align: center;
  width: 30em;
}

.InventoryHeader {
  border-bottom: .15em;
  border-left: 0em;
  border-right: 0em;
  border-style: solid;
  border-top: 0em;
  display: flex;
  flex-direction: row;
}

.InventoryNameHeader {
  align-content: center;
  border-bottom: none;
  border-left: none;
  border-right: .15em;
  border-right-style: dotted;
  border-top: none;
  font-size: 14pt;
  text-align: center;
  width: 15em;
}

.InventoryNotesHeader {
  font-size: 14pt;
  text-align: center;
  width: 30em;
}

.InventoryRoomHeader {
  border-bottom: none;
  border-left: none;
  border-right: .15em;
  border-right-style: dotted;
  border-top: none;
  font-size: 14pt;
  text-align: center;
  width: 15em;
}

.InventorySerialHeader {
  border-bottom: none;
  border-left: none;
  border-right: .15em;
  border-right-style: dotted;
  border-top: none;
  font-size: 14pt;
  text-align: center;
  width: 15em;
}

.ItemCardContainer {
  display: flex;
  flex-direction: row;
}

.ItemCardDescription {
  border-bottom: .15em;
  border-bottom-style: solid;
  border-left: none;
  border-right: .15em;
  border-right-style: dotted;
  border-top: none;
  height: 3.75em;
  overflow: auto;
  padding-left: .2em;
  width: 33.4em;
}

.ItemCardName {
  border-bottom: .15em;
  border-bottom-style: solid;
  border-left: none;
  border-right: .15em;
  border-right-style: dotted;
  border-top: none;
  height: 3.75em;
  overflow: auto;
  padding-left: .2em;
  width: 16.65em;
}

.ItemCardNotes {
  border-bottom: .15em;
  border-bottom-style: solid;
  border-left: none;
  border-top: none;
  height: 3.75em;
  overflow: auto;
  padding-left: .2em;
  width: 33.4em;
}

.ItemCardRoom {
  border-bottom: .15em;
  border-bottom-style: solid;
  border-left: none;
  border-right: .15em;
  border-right-style: dotted;
  border-top: none;
  height: 3.75em;
  overflow: auto;
  padding-left: .2em;
  width: 16.6em;
}

.ItemCardSerial {
  border-bottom: .15em;
  border-bottom-style: solid;
  border-left: none;
  border-right: .15em;
  border-right-style: dotted;
  border-top: none;
  height: 3.75em;
  overflow: auto;
  padding-left: .2em;
  width: 16.55em;
}

.ItemInventoryContainer {
  border-style: solid;
  margin-top: .2em;
  padding: .25em;
  text-align: center;
}

.ItemNumberContainer {
  display: flex;
  flex-direction: column;
}

.ItemNumberFilter {
  border-style: solid;
  border-width: .14em;
  font-size: 14pt;
  height: 1.75em;
  margin-left: 1em;
  margin-top: .2em;
  overflow: auto;
  padding: .25em;
  text-align: center;
  width: 25em;
}

.ItemNumberTitle {
  font-size: 16pt;
  font-weight: 500;
  margin-left: .9em;
}

.PageHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.RoomContainer {
  display: flex;
  flex-direction: column;
}

.RoomFilter {
  border-style: solid;
  border-width: .14em;
  font-size: 14pt;
  height: 1.75em;
  margin-left: -.5em;
  margin-top: .2em;
  overflow: auto;
  padding: .25em;
  text-align: center;
  width: 25em;
}

.RoomFilterTitle {
  font-size: 16pt;
  font-weight: 500;
  margin-left: -.4em;
}

.Search {
  border-style: solid;
  font-size: 14pt;
  height: 1em;
  margin-left: 1em;
  margin-top: .2em;
  padding: .25em;
  text-align: left;
  width: 25em;
}

.SearchContainer {
  display: flex;
  flex-direction: column;
}

.SearchTitle {
  font-size: 16pt;
  font-weight: 500;
  margin-left: .9em;
}