/* .ItemDeleteButton {
    width: 3em;
    height: 2em;
    background-color: lightcoral;
    font-size: 16pt;
    border-bottom: .15em;
    border-bottom-style: solid;
}

.ItemEditButton {
    width: 3em;
    height: 2em;
    background-color: goldenrod;
    font-size: 16pt;
    border-bottom: .15em;
    border-bottom-style: solid;
} */

