html {
    /* default font-size is 16px - this is set in the default browser stylesheet */ 
    font-size: 20px; 
    font-weight: 400; 
    line-height: 1.5; 
  } 
   
  /* Increase all font sizes on mobile */ 
  @media (max-width: 767px) { 
    html { 
      /* default is 1rem or 16px */ 
      font-size: 25px; 
    } 
  }

.AddItemButton {
  margin-left: 1.5em;
  margin-bottom: .5em;
}

.justify-content-md-left {
  margin-left: 0em;
}

.ClearFilterButton {
  margin-right: 1em;
}

.hr-text {
  height:2px;
  border-width:0;
  color:gray;
  background-color:gray;
  width: 98.25%;
  margin-top: .25em;
  margin-bottom: .25em;
}